@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        var action = routeData.PageType.Name switch
                        {
                            nameof(Pages.Create) => "create products",
                            nameof(Pages.Edit) => "edit products",
                            _ => "access this page"
                        };

                        <div class="alert alert-warning" role="alert">
                            <h4>Access Denied</h4>
                            <p>You must be logged in to @action. <a href="authentication/login">Click here to login</a></p>
                        </div>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
